.form {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 30px;
  max-width: 70%;
  margin-top: 100px;
}
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}
input,
button {
  width: 100%;
}
