* {
  box-sizing: border-box;
}

form {
  max-width: 70%;
  margin-top: 100px;
}
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}
.btn--success {
  width: 100%;
  padding: 10px;
  background-color: cadetblue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.input {
  width: 100%;
  margin-bottom: 5px;
}
