.recipe-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  min-height: 1200px;
  font-size: 18px;
  padding: 40px;
}
.instructions {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  min-height: 60px;
  max-height: 300px;
  overflow-y: auto;
}
input {
  width: 100%;
}
label {
  min-width: 100%;
}
button {
  min-width: 100%;
}
#strTags {
  min-width: 100%;
}
#strCategory {
  min-width: 100%;
}
#strArea {
  min-width: 100%;
}
