.recipe-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  min-height: 1200px;
  padding: 50px 50px 0 50px;
  margin-bottom: 30px;
}
.instructions {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  min-height: 60px;
  max-height: 300px;
  overflow-y: auto;
}
input {
  width: 120%;
}
