.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
 max-width: 800px;
 font-size: 20px;
 padding: 30px;
 margin: 50px;
 display: flex;

}
header{
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  color: black;
}

li{
  border: 1px grey solid;
  gap: 10px;
}
