.navbar {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #343a40;
  padding: 0 20px;
  margin-left: 50%;
  border-radius: 0 0 0 30px;
  padding: 10px;
  padding-right: 30px;
}

.navbar__list {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.buton-bt {
  border: none;
  background-color: inherit;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
