* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f8f9fa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
